DATABASE_URL=postgresql://minotaurus:minotaurus@localhost:5432/minotaurus
# Secret key for the JWT token, could be any string
# Recommended to use a long random string like a UUID
# Generate one with the command openssl rand -base64 48
NEXTAUTH_SECRET=
NEXTAUTH_URL=
TENOR_API_KEY=
